@font-face {
  font-family: 'zDenimINKCollectionVF-TRIAL';
  src: url('zDenimINKCollectionVF-TRIAL.woff2') format('WOFF2');
}

body {
  font-family: zDenimINKCollectionVF-TRIAL, SemiBold;
  font-size: 19px;
  margin: 0;
  background: #fffaf0;
  color: #333;
}

h1  {
  text-align: center;
}

nav {
  background: #f2b5c4;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #222;
  padding: 6px 10px;
  border-radius: 5px;
}

nav a.nav-logo {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;
  padding: 40px;
  text-align: center;
}

.item img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.item img:hover {
  transform: scale(1.05);
}

.item h3 {
  margin-top: 10px;
  color: #d46a85;
}

.item p {
  font-size: 14px;
  color: #555;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
